hypothesis
pipetools
pydantic
faker
rstr
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.23.1 # not directly required, pinned by Snyk to avoid a vulnerability