hypothesis
pipetools
pydantic
faker
rstr
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=4.1.0 # not directly required, pinned by Snyk to avoid a vulnerability