hypothesis
pipetools
pydantic
faker
rstr
setuptools>=83.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability